modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 23636
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
META_PHONE_NUMBER_ID = "1166993196491985"
META_WHATSAPP_TOKEN = "EAAbF5Djb5jcBRhGQc93D9gqLyruuUZC2ugZAelHZBjbx5Vp6VEsEgeEWI1KtyD56KrZCMfN27Fqj3mKNmng3aBeo1a42jubCw5jf6Do6xXGdzbPkMsU08ZAdJQ925vY7pNY6jNJdNPZADFgEIHrMOrvKv2Xoigxo2X3QaQzZBO4Gm7b5PdC0t2RYOc6QPzyXQZDZD"
META_WABA_ID = "1277540724537224"
META_VERIFY_TOKEN = "gigai_lucy_2026"
