modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
META_PHONE_NUMBER_ID = "1024923740711449"
META_WHATSAPP_TOKEN = "EAAbF5Djb5jcBRJYEm5lVTbUYoKmg7iLTQZAxxnZCiJQL00N40yyEeCq1vfIZChsdI4lxEah7VF6ezPejwCDi5nfCZBNkwuklL1swDnpZCZB0B5dlLtZCVkU28ZCAH8IrDAjtnbxHMUgvzGPGlYZCb64gkaEby1SxzXWUhb88Qfy9Jyg3jIltgiozFBgl45sOxmsBrMgZDZD"
META_WABA_ID = "1961032431165405"
